*, html {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  padding-top: 50px;
  font-family: 'Work Sans', sans-serif;
  font-size: 62.5%;
  height: 100vh;
  color: aliceblue;
  background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
}

body .main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  z-index: 1;
}

button:focus {
  outline: none
}

button:hover {
  border-left: 2px solid white;
}

.todo-container {
  z-index: 1;
  width: 650px;
  border: 2px solid #505285;
  border-radius: 5px;
  opacity: 0.95;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.75);
}

.todo-list {
  font-size: 1.5rem;
  background-color: #65689f;
  padding-bottom: 10px;
}

.todo-list .header {
  background-color: #505285;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn{
  border: none;
  margin: 3px;
  padding: 10px;
  color: white;
  font-size: .8rem;
  background-color: #F45B69;
  border-radius: 3px;
}

.todo-list ol {
  padding-left: 38px;
  font-size: 1.3rem;  
}

.todo-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  border-bottom: 1px solid #505285;
  font-size: 1.3rem;
}

.todo-item p {
  padding-bottom: 10px;
}

.todo-item button {
  align-self: flex-end;
}

.todo-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.todo-input input {
  width: 80%;
  font-size: 1.2rem;
  padding: 10px 5px;
  border: none;
  border-bottom-left-radius: 3px;
}

.todo-input input:focus {
  outline: #07A34D;
}

.todo-input button {
  width: 20%;
  font-size: 1.2rem;
  border: none;
  background-color: rgb(6, 28, 56);
  color: white;
  border-bottom-right-radius: 3px;
}

.todo-input button:hover {
  background-color: #07A34D;
}

.bg-img {
  height: 50vh;
  background-image: url(../../assets/time.svg);
  background-repeat: no-repeat;
  background-position: left;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}